<div class="jumbotron">
    <h1>Plan de proteccion forestal</h1>
    <p class="lead">Esta Aplicación está generada con ASP.Net para la clase de gestión de base de datos del universidad Areandina la cual está enfocada en la preservación de bosques </p>
    <div class="row">
        <div class="col-md-2"><p><a href="https://localhost:44385/Bosques" class="btn btn-primary btn-lg">Bosques</a></p> </div>
        <div class="col-md-2"><p><a href="https://localhost:44385/Herramientas" class="btn btn-primary btn-lg">Herramientas</a></p> </div>
        <div class="col-md-3"><p><a href="https://localhost:44385/IncendiosForestales" class="btn btn-primary btn-lg">Incendios Forestales</a></p> </div>
        <div class="col-md-2"><p><a href="https://localhost:44385/Personals" class="btn btn-primary btn-lg">Personal</a></p> </div>
        <div class="col-md-2"><p><a href="https://localhost:44385/ReservasAguas" class="btn btn-primary btn-lg">ReservasAguas</a></p> </div>
    </div>
    </div>
   